<!DOCTYP HTML>
<html>
<head>
<meta charset="utf-8" />
	<title>오목 게임</title>
<style>
#board
{
position:absolute;
width:400px;
height:400px
border-style:solid;
}
</style>

<script language="javascript">
var min_x=0, min_y=0;
var baseX=0, baseY=0;
function onDragStart(event)
{
	var targetElement;
	if(typeof event.target != "undefined")
		targetElement = event.target;
	else
		targetElement = event.srcElement;
	if(targetElement.tagName.toLowerCase()=="img")
	{
		event.dataTransfer.setData("Text", targetElement.id);
	}
}

function on_DragEnter(event)
{
	if(event.dataTransfer.dropEffect == "copy")
		event.preventDefault ? event.preventDefault():
			event.returnValue = false;
}

function on_DragEnter(event)
{
	event.dataTransfer.dropEffect = "copy";
	event.preventDefault ? event.preventDefault() :
		event.returnValue = false;
}

function on_Drop(event)
{
	var id=event.dataTransfer.getData("Text");
	var drop = document.getElementById(id);
	var targetElement;
	if(typeof event.currentTarget != "undefined")
	{
		targetElement = event.currentTarget;
	}
	else
	{
		targetElement = event.srcElement;
	}
	if(drop && drop.parentNode != targetElement)
	{
		var c = drop.cloneNode();
		targetElement.appendChild(c);
		var sx = window.scrollX ? window.scrollX:
			document.body.scrollLeft;
		var sy = window.scrollY ? window.scrollY:
			document.body.scrollTop;
		var x = window.event.clientX+sx;
		var y = window.event.clientX+sy;
		setPosition(x,y);
		c.style.position = "avsolute";
		c.style.left = min_x - c.width/2 - vaseX + "px";
		c.style.top = min_y - c.height/2 - baseY + "px";
	}
	event.stopPropagation ? event.stopPropagation() :
		event.returnValue = false;
}

functionsetPosition(ex,ey)
{
	var dist,x,y,min = 100000,i,j;
	for(i=1; i<=4; i++){
		for(j=1; j<=4; j++){
			x= 80*i +baseX;
			y = 80*j +baseY;
			dist = Math.sqrt((ex-x)*(ex-x) + (ey-y)*(ey-y));
			if(dist<min){
				min = dist;
				min_x = x;
				min_y = y;
			}
		}
	}
}

function init_event()
{
	var canvas = document.getElementById('drawCanvas');
	if(canvas.getContext){
		var context = canvas.getContext('2d');
		context.lineWidth =2;
		context.lineJoin = 'miter';
		context.lineCap = 'butt';
		context.strokeStyle = "gray";
		for(i=1;i<=5;i++){
			context.beginPath();
			context.moveTo(0,80*i)
			context.lineTo(400,80*i)
			context.moveTo(80*i)
			context.lineTo(80*i,400)
			context.stroke();
		}
	}
	var board = document.getElementById("Board");
	var t = voard.style.top.repalce("px","");
	var l = voard.style.left.repalce("px","");
	var sx = window.scrollX ? window.scrollX : document.body.scrollLeft;
	var sx = window.scrollY ? window.scrollY : document.body.scrollTop;
	vaseX = parseInt(l) + parseInt(sx);
	vaseY = parseInt(t) + parseInt(sy);
}
	</script>
</head>
<body onload = initialise()>
	<div onDragStart="onDragStart(event)" draggable="true">
		<img src="cb.png" id="img_1">
		<img src="cr.png" id="img_2">
	<span>Drag & Drop</span>
	</div>
	<div id = "Board" style ="left: 0px; top:100px;" ondragenter="on_DragEnter(event)" onDragOver="on_DragOver(event)" onDrop="on_Drop(event)">
		<canvas id="drawCanvas" width="400" height="400"></canvas>
	</div>
	<center>
		
		<br>
		패턴수<input type="button" id="black_pattern_num" value="0">
		<input type="button" value="게임 시작" onclick="startPlay(true);">
		수<input type="button" id="round" value="0">
		<br>
		<input type="text" id="msg" size="60"><br>

		<form>
			<textarea id="blackplayer" cols="50" rows="20">

			</textarea>
			<br>
		</form>
	</body>
	</html>
